<%= hidden_field_tag 'user_textfilter', current_user.text_filter_name %>
<div id="autosave">
  <%= hidden_field_tag('article[id]', @article.id) if @article.present? %>
</div>
<div class="row save-bar">
  <div class="col-md-8 col-md-offset-2" id="save-bar">
    <div class="pull-right">
      <%= link_to(t('.cancel'), { action: 'index' }, { class: 'btn btn-default' }) %>
      <span id="preview_link">
        <%= link_to(t('.preview'), { controller: '/articles', action: 'preview', id: @article.id }, { target: 'new', class: 'btn btn-default' }) if @article.id %>
      </span>
      <input id="save_draft" type="submit" value="<%= t('.save_as_draft') %>" name="article[draft]" class="btn btn-default">
      <!-- Button trigger modal -->
      <button class="btn btn-success" data-toggle="modal" type="button" data-target="#publishOptions">
        <%= controller.action_name == 'new' ? t('.publish') : t('.save') %>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2" id="error-message-article">
    <%= render 'shared/flash', flash: flash %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= t("errors.template.header", model: 'article', count: @article.errors.count) %></h2>
        <p><%= t("errors.template.body") %></p>
        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2" id="quicktags-block">
    <div id="quicktags" class="pull-right">
      <script type="text/javascript">edToolbar('article_body_and_extended', '<%= @article.text_filter_name %>');</script>
    </div>
  </div>
  <div class="col-md-8">
    <%= text_field 'article', 'title', class: 'form-control', placeholder: t('.title') %>
    <div id="editor">
      <%= text_area('article', 'body_and_extended', class: 'form-control ', style: 'height: 360px', placeholder: t('.type_your_post')) %>
    </div>
  </div>
</div>

<%= render 'admin/shared/edit_modal', content: @article %>
